{% extends 'admin_base.html' %} {% block main %}

<div class="container">
    <div class="card shadow" style="overflow:auto">
        <div class="card-body">

            <h2 style="border-bottom:2px solid orange;"><b>Accepted Volunteer</b></h2>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>Volunteer Name</th>
                        <th>Email ID</th>
                        <th>Contact number</th>
                        <th>Reg. Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in volunteer %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.user.first_name}} {{i.user.last_name}}</td>
                        <td>{{i.user.username}}</td>
                        <td>{{i.contact}}</td>
                        <td>{{i.regdate}}</td>
                        <td>{{i.stat}}</td>
                        <td><a href="{% url 'view_volunteerdetail' i.id %}">View Details</a></td>
                        <td><a class="text-danger" href="{% url 'delete_volunteer' i.id %}" onclick="return confirm('You Really Want To Delete')" >Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
</div>

{% endblock %}