{% extends 'donor_base.html' %}

{% block main %} 
<script>
     function checkpassword()
     {
        if(document.changepwd.newpassword.value!=document.changepwd.newpasswordagain.value)
        {
            alert('New password and New Password Again does not match')
            document.changepwd.newpasswordagain.focus()
            return false;
        }
        else
        {
            return true;
        }
     }
</script>

<div class="card-sm-1 shadow m-sm-4">
    <div class="card-body">
        <h5 class="p-2 fs-4" style="border-bottom:2px solid orange"><b>Change Password</b></h5>
        <div class="container-fluid">
            <form method="post" enctype="multipart/form-data" name="changepwd" onsubmit="return checkpassword()">
                {% csrf_token %}
                <div class="row fs-4">
                    <div class="col-sm-12 my-2 ">
                        <div class="form-group">
                            <label for="FN" class="my-2">Current Password</label>
                            <input type="password" name="currentpassword" id="currentpassword" class="form-control fs-5" placeholder="Enter confirm password" required>
                        </div>
                    </div>
                    <div class="col-sm-12 my-2 ">
                        <div class="form-group">
                            <label for="LN" class="my-2">New Password</label>
                            <input type="password" name="newpassword" id="newpassword" class="form-control fs-5" placeholder="Enter new password" required>
                        </div>
                    </div>

                    <div class="col-sm-12 my-2 ">
                        <div class="form-group">
                            <label for="EM" class="my-2">New Password Again</label>
                            <input type="password" name="newpasswordagain" id="newpasswordagain" class="form-control fs-5" placeholder="Enter new password again" required>
                        </div>
                    </div>
                </div>
                <input type="submit" class="px-4 m-2 btn btn-primary" value="submit">
            </form>
        </div>
    </div>
</div>
 {% if error == "no" %}
<script>
    alert('Password Updated successfully');
    window.location = ("{% url 'logout' %}");
</script>
{% endif %} {% if error == "yes" %}
<script>
    alert('Something Went Wrong , Try Again...');
</script>
{% endif %}
{% if error == "not" %}
<script>
    alert('Current password is incorrect');
</script>
{% endif %}



{% endblock %}