{% extends 'volunteer_base.html' %}

{% block main %} 
<div class="container">
    <div class="card shadow" style="overflow:auto">
        <div class="card-body">

            <h2 style="border-bottom:2px solid orange;"><b>New Donation Collection Request</b></h2>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>Donation Name</th>
                        <th>Donation Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in donation %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.donationname}}</td>
                        <td>{{i.donationdate}}</td>
                        <td><a href="{% url 'donationcollection_detail' i.id %}" class="text-primary">View Details</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
</div>



{% endblock %}